.root {
    background-image: url(../../img/asdf.avif);
    background-size:cover;    
    position: absolute;
    top: 70px;
    bottom: 0;   
    left: 0;
    right: 0;
}

h2 {
    width: fit-content;
    backdrop-filter: blur(4px);
    margin: auto;
    margin-top: 80px;
}

.div1 {
    border-radius: 15px;
    width: 900px;
    padding-top: 25px;
    padding-bottom: 50px;
    margin: auto;
    margin-top: 5px;
    margin-top: 0px;
    background-color: hsla(0,0%,100%,.4980392156862745);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-around;
}

.divRecipes {
    display: flex;
}

.HS {
    width: 40px;
}

.summaryDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.summary {
    height: 150px;
    resize: none;
}

.add {
    margin-top: 15px;
    border-radius: 5px;
}

.add:hover {
    cursor: pointer;
}

.btnSub {
    margin-top: 15px;
    border-radius: 5px;
}

.btnSub:hover {
    cursor: pointer;
}

.danger {
    color: red
}