.root {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/37e19c53319193.592ffe63763e0.gif);
    margin: 0;
    background-size:cover;    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}