.root{
    background-color: rgb(237, 126, 47);
}

.div1 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.title {
    margin: auto;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
}

.divInfo {
    padding-left: 30px;
}

.image{
    width: 350px;
    border-radius: 10px;
}

.summary {
    width: 850px;
    margin: auto;
    font-size: 17px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.steps {
    padding-bottom: 50px;
}

.p {
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}