.root {
    margin: auto;
    width: 850px;
}

.title {
    font-size: 22px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 850px;
}

.inst {
    width: 850px;
    margin: auto;
    text-align: center;
}