.root2 {
    background-color: #b9c8c5;
    margin: 0;
    background-size:cover;   
    top: 70px; 
    height: 100vh;
}

/* .root2 {
    background-color: rgb(239, 141, 70);
} */

.h3 {
    margin-left: 20px;
}

.list {
    margin-top: 15px;
    padding-left: 150px;
}

.btns {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.btnB {
    border-radius: 5px;
    border-style: double;
}

.btnN {
    border-radius: 5px;
}

.btn {
    border-radius: 5px;
    margin: 5px;
    width: 36px;
    height: 36px;
    padding-right: 1px;
    padding-left: 1px;
}

.currentBtn {
    border-radius: 5px;
    margin: 5px;
    width: 30px;
    height: 30px;
    padding-right: 1px;
    padding-left: 1px;
    background: rgba(189, 187, 187, 0.532);
}

.btnB:hover {
    cursor: pointer;
    background: rgba(189, 187, 187, 0.532);
}

.btnN:hover {
    cursor: pointer;
    background: rgba(189, 187, 187, 0.532);
}

.btn:hover {
    cursor: pointer;
    background: rgba(189, 187, 187, 0.532);
}