.root {
    /* background: rgba(23, 9, 9, 0.4); */
    height: 70px;
    display: flex;
    justify-content: flex-start;
    background-color: #727c7a;
    width: 100vw;
}

.root2 {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    background-color: #727c7a;
    width: 100vw;
    opacity: 0;
}